bee-data-cleaning @ git+https://github.com/BeeGroup-cimne/bee_data_cleaning@b28894dcad447d392eb655b794209986eed77ac8
bee-dataframes @ git+https://github.com/BeeGroup-cimne/bee_dataframes@af64aad1320bd8d2a2d55fd4872447a50122b14a
cycler==0.10.0
datetime-functions @ git+https://github.com/BeeGroup-cimne/datetime_functions@ea7f409cb7d9cd14157b5dacabeb333b9f565694
decorator==5.0.7
future==0.18.2
gssapi==1.6.12
happybase @ git+https://github.com/BeeGroup-cimne/happybase@ff3402584606bf95a37c83ac111f04fce19ad7af
hive-functions @ git+https://github.com/BeeGroup-cimne/hive_functions@d513340f140b4803e2cef1412db47b33f8f36226
kerberos==1.3.1
kiwisolver==1.3.1
matplotlib==3.3.4
mrjob==0.7.4
numpy==1.19.5
pandas==1.1.5
Pillow==8.2.0
pkg-resources==0.0.0
plotly==4.14.3
ply==3.11
protobuf==3.15.8
pure-sasl==0.6.2
PyHive==0.6.3
pymongo==3.11.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
retrying==1.3.3
six==1.15.0
snakebite-py3==3.0.5
thrift==0.13.0
